name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Gradle
        run: |
          ./gradlew assembleRelease

      - name: Sign with testkey
        run: |
          sudo apt-get update
          sudo apt-get install -y apksigner

          wget https://raw.githubusercontent.com/aosp-mirror/platform_build/master/target/product/security/testkey.pk8
          wget https://raw.githubusercontent.com/aosp-mirror/platform_build/master/target/product/security/testkey.x509.pem

          unsigned_apk=$(ls app/build/outputs/apk/release/*-unsigned.apk)
          apksigner sign \
            --key testkey.pk8 \
            --cert testkey.x509.pem \
            --out app-release-signed.apk \
            "$unsigned_apk"

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          path: app-release-signed.apk
